*{
    margin: 0;
    padding: 0;
}

body{
    /* background-color: black;
    color: white; */
}

.left{
    width: 25vw;
}
.right{
    width: 75vw;
    position: relative;

}
 .home{

 }
.home ul li{
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}
.heading{
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;

}
.heading img{
    width:30px;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter:invert(1);
}
.bg-grey{
    background-color:rgb(9, 8, 8);
}
.rounded{
    border-radius: 7px;
}
m-1{
    margin: 5px;
}
.library{
    min-height: 55vh;
}
.footer{
    display: flex;
    font-size: 10px;    
    gap: 13px;
}

.footer a{
    color: grey;
}
.header{
    display: flex;
    justify-content: space-between;
}
.right{
    margin: 16px 0;
    position: relative;
}

.header > *{
    padding: 20px;
}
.spotifyPlaylists{
    padding: 20px;
}
.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    overflow-y: scroll;
    max-height: 50vh;
}
 .card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #00000000;

}
.card img{
    width: 100%;
    object-fit: contain;
}
.card >*{
    padding-top: 10px;
   
}
.play{
    display: flex;
    position: absolute;
    top: 350px;
    right: 75px;
    align-items: center;
    justify-content: center;    
    opacity: 0;
    transition: all 1s ease-out;
}
.buttons>*{
        margin:0 12px;
}

.signupbtn{
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}
.signupbtn:hover{
    font-size: 1.1rem;
    color: white;
}
.loginbtn{
    background-color:white;
    color:black;
    border-radius: 10px;
    padding: 10px;
    width: 80px;
    cursor: pointer;
}
.loginbtn:hover{
    font-weight: bold;
    padding: 10px;  
}
.playbar{
    position: absolute;
    bottom: 0;
    background-color:rgb(113, 161, 71);
    width: 100;
    padding: 12 px;
}
.songbuttons{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.songList{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.songList ul{
    padding: 0 12px;
}
.songList ul li{
list-style-type:decimal; 
display: flex;
gap: 34px;
cursor: pointer;
padding: 12px 0;
border: 1px solid white;
margin: 12px;
padding: 13px;
border-radius: 5px;
}
.songList .info{
    font-size: 13px;
    width: 344px;
}

.playnow{
    display: flex;
}
.playnow span{
    font-size: 10px;
    width: 64px;
    justify-content: center;
    align-items: center;
}

.seekbar{
    height: 2px;
    width: 98%;
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
}
.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 11px;    
    left: 0%;
    transition: left 0.5s;
}
.abovebar{
    display: flex;
justify-content: space-between;
 
}
.songinfo .songtime{
    color: rgb(4, 4, 4);
}



