.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}
.items-center{
align-items: center;
}
.p-1{
    padding: 10px;
}
/* For WebKit browsers (Chrome, Safari, and newer versions of Edge) */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #333; /* Track of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #555; /* Color of the scrollbar thumb */
    border-radius: 20px; /* Rounded corners for the scrollbar thumb */
    border: 3px solid #333; /* Padding around the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #777; /* Color when hovering over the scrollbar thumb */
}

/* For Firefox */
scrollbar-width: thin; /* Thin scrollbar */
scrollbar-color: #555 #333; /* Thumb color and track color */